/* CSS RESETS */
/* ******************************************************************************* */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  scroll-behavior: smooth;
  /* 
  font-family: 'Clash Display', sans-serif;
  font-family: 'Ranade', sans-serif;
  font-family: 'Poppins', sans-serif; 
  */
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Clash Display', sans-serif;
}
